/*--------------------------------
YPR Minimal Themes
------------------------------------*/

.ypr-minimal-light-style {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	padding: 15px;
	position: relative;
	background: #FFFFFF;
	border-radius: 4px;
	color: #7E7975;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), 0 1px 5px rgba(0, 0, 0, 0.2);
}

[id*='ypr_widget'].ypr-minimal-light-style .ypr-widget-title, [id*='ypr_widget'].ypr-minimal-dark-style .ypr-widget-title {
	font-size: 15px;
	font-weight: bold;
	color: #757575;
	padding-bottom: 8px;
	border-bottom: 1px solid #EBE6E2;
	text-shadow: 0 2px 0 rgba(255, 255, 255, 0.8);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
	margin: 0 0 15px;
	line-height: 1.4em;
}

[id*='ypr_widget'] span.ypr-business-name, span.ypr-business-name {
	line-height: 18px;
}

[id*='ypr_widget'] span.no-reviews, span.no-reviews {
	line-height: 12px;
}

[id*='ypr_widget'] .ypr-business-name > a, [id*='ypr_widget'] .ypr-business-name > a:visited, .ypr-business-name > a, .ypr-business-name > a:visited {
	color: #067AB4;
	font-weight: bold;
	text-decoration: none;
}

[id*='ypr_widget'] .ypr-rating-time, .ypr-rating-time {
	font-style: italic;
}

.ypr-business-avatar {
	border-radius: 50%;
}

/* Reviews */

[id*='ypr_widget'] p.ypr-rating-value {
	line-height: 12px;
	margin: 0;
	font-size: 12px;
	padding: 0;
}

/* Leave a Review Link */

[id*='ypr_widget'] a, [id*='ypr_widget'] a:hover, [id*='ypr_widget'] a.leave-review, [id*='ypr_widget'] a.leave-review:visited, [id*='ypr_widget'] a.leave-review:visited {
	color: #067AB4;
	text-decoration: none;
}

[id*='ypr_widget'] a:hover, [id*='ypr_widget'] a.leave-review:hover, [id*='ypr_widget'] .ypr-business-header a.leave-review:hover, .ypr-business-header a.leave-review:hover {
	text-decoration: underline;
}

[id*='ypr_widget'] .ypr-business-header a.leave-review, .ypr-business-header a.leave-review {
	color: #686868;
	font-size: 12px;
	text-decoration: none;
}

[id*='ypr_widget'] p.no-reviews, .ypr-business-header p.no-reviews {
	margin: 0;
	padding: 0;
}

/* Dark */

.ypr-minimal-dark-style {
	padding: 15px;
	position: relative;
	background: #333;
	border-radius: 4px;
	color: #CCC;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), 0 1px 5px rgba(0, 0, 0, 0.2);
}

[id*='ypr_widget'].ypr-minimal-dark-style .ypr-widget-title, [id*='ypr_widget'].ypr-shadow-dark-style .ypr-widget-title, [id*='ypr_widget'].ypr-inset-dark-style .ypr-widget-title {
	color: #FFFFFF;
	border-bottom: 1px solid #1F1F1F;
	text-shadow: 0 2px 0 rgba(14, 14, 14, 0.8);
	box-shadow: 0 1px 0 rgba(92, 92, 92, 0.8);
}